[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	name = Cameron Stark
	email = cstark@cse.fraunhofer.org
[credential]
	helper = osxkeychain
	;helper = wincred
[color]
	ui = true
[colors]
	ui = true
[push]
	default = simple
[http]
	sslVerify = false
[core]
	editor = vim
	excludesfile = $DOTFILESDIR/git/gitignore
[hub]
	protocol = ssh
[alias]
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
